{% extends "data_manager_base.html" %}

{% block title %}Data Manager Dashboard{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-custom bg-transparent p-0 mb-3">
            <li class="breadcrumb-item">
                <a href="{% url 'data_manager_dashboard' %}" class="text-secondary fw-bold"
                    style="text-decoration: none">Dashboard</a>
            </li>
        </ol>
    </nav>
    <div class="row g-4">

        <div class="col-md-4">
            <div class="dashboard-card" onclick="window.location.href='{% url 'data_manager_dataBank' %}'">
                <i class="fas fa-bullhorn card-icon" style="color: rgb(28, 187, 36);"></i>
                <h5 class="card-title">Data Bank</h5>
                <p class="card-count">12</p>
                <p class="card-description">Data bank, providing you with real-time insights and seamless information
                    retrieval</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="dashboard-card" onclick="window.location.href='{% url 'data_manager_allocation' %}'">
                <i class="fas fa-user-plus card-icon" style="color: rgb(177, 238, 24);"></i>
                <h5 class="card-title">Allocation Leads</h5>
                <p class="card-count">245</p>
                <p class="card-description">Smart lead allocation for better tracking and performance.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="dashboard-card" onclick="window.location.href='{% url 'data_manager_followup' %}'">
                <i class="fas fa-chart-line card-icon" style="color: rgb(14, 138, 214);"></i>
                <h5 class="card-title">Follow up</h5>
                <p class="card-count">68</p>
                <p class="card-description">Consistent follow-ups drive successful conversions</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="dashboard-card" onclick="window.location.href='{% url 'platform_management' %}'">
                <i class="fas fa-layer-group card-icon" style="color: rgb(165, 14, 214);"></i>
                <h5 class="card-title">Platform Management</h5>
                <p class="card-count">{{ platforms.count }}</p>
                <p class="card-description">View leads categorized by their source platform.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="dashboard-card" onclick="window.location.href='{% url 'notification_management' %}'">
                <i class="fas fa-bell card-icon" style="color: #ff4d4d;"></i>
                <h5 class="card-title">Notifications</h5>
                <p class="card-description">Stay informed with timely updates and notifications on new leads efficient
                    follow-up process.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}